*, *::before, *::after {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgba(0, 102, 255, 0.912), rgb(255, 0, 162));
}

.calculator-row {
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(4, 5rem);
    justify-content: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(4rem, auto) repeat(4, 4rem);
    margin-top: 1rem;
    
}

.buttons > button {
    border-radius: 20px;
    border: none;
    outline: none;
    margin: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    word-break: break-all;
    padding: .75rem;
    word-wrap: break-word;
    border-radius: 15px;
}

.output .upperOperator {
    color: rgb(255, 87, 51);
    font: 1.6rem;
}

.output .lowerOperator {
    color: rgb(255, 87, 51);
    font: 2.6rem;
}

.calculator-row > button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, .75);
}

.calculator-row > button:hover, 
.calculator-row > button:focus{
    background-color: rgb(255, 255, 255, .9);
}

.symbol {
    background-color: rgb(0, 0, 0, 0.75);
    color: rgb(255, 87, 51);
}

.symbol:hover {
    background-color: rgb(255, 255, 255, 0.2); 
    box-shadow: 0 5px 15px rgb(255, 87, 51);
}

.num {
    background-color: rgb(255, 255, 255, 0.2); 
    color: rgb(255, 87, 51);
}

.num:hover {
    background-color: rgb(0, 0, 0, 0.75);
    box-shadow: 0 5px 10px rgb(255, 87, 51);
}

.symbol1 {
    color: rgb(255, 87, 51);
    background: linear-gradient(to right, 
    #1488cc,
    #2b32b2);
}

.symbol1:hover {
    background-color: rgb(0, 0, 0, 0.75);
    box-shadow: 0 5px 10px rgb(255, 87, 51);
}